
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
   
}

#product-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 15px;
}

.left-column{
    width: 40%;

}

.right-column{
    width: 60%;
    margin-top: 40px;
    padding-left: 30px;
}

#productImg{
    width: 100%;
    margin-top: 50px;
}

.product-description{
    margin-bottom: 40px;
}

.product-description h1{
    font-weight: 300;
    font-size: 44px;
    letter-spacing: -2px;
}

.product-description h4{
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
.product-description h3{
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
.product-description h3 span{
    color: rgb(0, 150, 136);
    font-weight: bold;
}

.product-description p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(134, 147, 158);
}

.product-description .previewImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
}

.product-preview .previewImg img {
    width: 15%;
    height: 30%;
    cursor: pointer;
    margin: 5px;
    padding: 4px;
    border-radius: 6px;
}

.active {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 150, 136);
    border-image: initial;
}

@media only screen and (max-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
 
